body{
  background-color: #dadada;
}
.container{
  width: 1200px;
}
ul li{
	list-style: none;
}
ol, li{
	list-style: none;
}
*{margin:0; padding:0}

body, html{
	margin:0;
	padding: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.flex-parent{
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
}
.flex-box{
	background-color: red;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
}
